*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; 

    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
    
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
}

body {
    box-sizing: border-box;
    @include respond(tab-port) {
        padding: 0;
    }
}

::selection {
    background-color: $color-primary;
    color: #eeeeee;
}

.error{
    color:red;
    font-size: 1.2rem;
    letter-spacing: .5px;
}

.usersForm{
    position: absolute;
    left:50%;
    top:55%;
    transform:translate(-50%,-50%);
    background-color: #557174;
    border:3px solid #ffffff ;
    border-radius:10px;
    height:51.7rem;
    width:50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3rem;
    color:#eeeeee;
    box-shadow:  0 0  5rem #121013;
    &__input{
        padding:1.2rem 2rem;
        border-radius:2rem;
    }
    :not(:last-child){
        margin-bottom: .5rem;
    }
    .btn{
        padding:1rem 1.5rem;
        margin:1rem;
    }
   
}
